{
    margin: 0px;
}
img {
    width: 500px;
    height: 500px;
}
.cube {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: brown;
    animation-name: cube;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
@keyframes cube {
    0%{
        top: 175px;
        left: 0;
    }
    10%{
        top: 290px;
        left: 110px;
    }
    20%{
        top: 470px;
        left: 90px;
    }
    30%{
        top: 400px;
        left: 230px;
    }
    40%{
        top: 470px;
        left: 380px;
    }
    50%{
        top: 290px;
        left: 360px;
    }
    60%{
        top: 175px;
        left: 480px;
    }
    70%{
        top: 150px;
        left: 300px;
    }
    80%{
        top: 0;
        left: 235px;
    }
    90%{
        top: 150px;
        left: 160px;
    }
    100%{
        top: 175px;
        left: 0;
    }
}